<div class="form-master">
    <div class="form-container-password">
        <div class="form-heading">
            <div class="sub-heading-1"><h1>New password for</h1></div>
            <div class="sub-heading-2"><img src="/img/home/logo-2.svg" alt=""></div>
            <div class="sub-heading-3"><h1>account</h1></div>
        </div>
        <form  action="" method="POST"  class="form-password">
            <div class="eye-toggle">
                    <input type="password" placeholder="Password" name="password" id="password">
                   <i class="fas fa-eye" id="togglePassword"></i>
                   </div>
            <button type="submit">Reset password</button>
            <% if(messages.error) { %>
            <div class="error">
              
                <p> <%= messages.error %></p>
                                
            </div>
            
            <% } %>            </form>
    </div>
</div>