<div class="form-master">
    <div class="form-container-register">
        <div class="form-heading">
            <div class="sub-heading-1"><h1>Create your</h1></div>
            <div class="sub-heading-2"><img src="/img/home/logo-2.svg" alt=""></div>
            <div class="sub-heading-3"><h1>account</h1></div>
        </div>
        <form action="/register" method="POST" class="form-register">
            <input type="text" placeholder="First Name" name="fname" value="<%= messages.fname %>">
            <input type="text" placeholder="Last Name" name="lname" value="<%= messages.lname %>">
            <input type="email" placeholder="Email Address" name="email" value="<%= messages.email %>">
            <div class="eye-toggle">
                <input type="password" placeholder="Password" name="password" id="password">
               <i class="fas fa-eye" id="togglePassword"></i>
               </div>
               <div class="captcha_master">
                   <div class="captcha-main-div">
                    <div class="captcha-div">
                        <div class="captcha-text">
                            <p id="captcha">
                            </p>
                        </div>
                       </div>
                       <button class="captcha-refresh" type="button" id="refresh"><img src="/img/home/refresh.svg" alt=""></button>
                   </div>
        
                   <input type="text" name="captcha" class="captcha-input" value="" id="textBox" value="" placeholder="Type the text">
                   <input type="text" name="captcha1" id="captcha1" value="" hidden>

               </div>
            <button type="submit" class="main-button">Create account </button>
            <a href="/auth/google">
             <div class="google-register">
                <div class="google-logo-register">
                    <img src="/img/home/GOOGLE LOGO.svg " alt="Sixth slide">
                </div>
                <p><a href="/auth/google">Continue with Google</a></p>
             </div>
            </a>
            <p class="link"><a href="/login">Already have an account?</a></p>
            <% if(messages.error) { %>
            <div class="error">
                <p> <%= messages.error %></p>
                                
            </div>
            
<% } %> </form>
    </div>
</div>