<div class="form-master">
    <div class="form-container-email">
        <div class="form-heading-email">
            <div class="email-sub-heading-1"><h1>Reset your</h1></div>
            <div class="email-sub-heading-2"><img src="/img/home/logo-2.svg" alt=""></div>
            <div class="email-sub-heading-3"><h1>account password</h1></div>
        </div>
        <form  action="/reset" method="POST"  class="form-email">
            <input type="email" placeholder="Email address" name="email">
            <button type="submit">Reset password</button>
            <% if(messages.error) { %>
            <div class="error">
              
                <p> <%= messages.error %></p>
                                
            </div>
            
            <% } %>            </form>
    </div>
</div>