<section class="page_404">
	<div class="container">
		<div class="four_zero_four_bg">
			<h1>404</h1>
		</div>
		
		<div class="content_box_404">
		<h3>
		Look like you're lost
		</h3>
		
		<p>the page you are looking for not avaible!</p>
		
		<a href="/" class="link_404">Back to home</a>
	</div>
	</div>
</section>