<div class="aboutus_master_container">
    <div class="aboutus_heading">
        <h1>About us</h1>
    </div>
    <div class="aboutus_para">
        <p class="aboutus_para_1">ASAP was founded on 03/07/19 by four smartphones fanatics. ASAP is an independent platform with useful, accurate and unbiased information created with the mission to help you find the perfect smartphone for you at a reasonable price. ASAP is a great tool for online comparison shopping. We make it surprisingly easy for you to find a phone, know about that phone and compare it with others. Our goal is to provide the best comparison shopping experience on the Internet, and establish ASAP as the most trusted and effective online destination to make a
            purchase decision.
        </p>
        <p class="aboutus_para_2">We are based in the NYC, the United States of America, and serve a global client base of customers in over 30 countries. Behind the work we do is a talented team of international colleagues.</p>
    </div>
    <div class="aboutus_heading2">
        <h1>Meet our team</h1>
    </div>
    <div class="aboutus_profile_master">
        <div class="aboutus_profile">
            <div class="aboutus_profile_img">
                <img class="anish" src="/img/home/anish.jpg" alt="">
            </div>
            <div class="aboutus_profile_txt">
                <p class="aboutus_profile_txt_1">Anish Singh</p>
                <p class="aboutus_profile_txt_2">UI/UX Developer</p>
                <a href="https://www.linkedin.com/in/anish-singh-3a7a0a1b2" target="_blank"><img src="/img/home/Black Linkedin.svg" alt=""></a>
            </div>
        </div>
        <div class="aboutus_profile">
            <div class="aboutus_profile_img">
                <img class="sachin" src="/img/home/sachin.jpg" alt="">
            </div>
            <div class="aboutus_profile_txt">
                <p class="aboutus_profile_txt_1">Sachin Jaiswal</p>
                <p class="aboutus_profile_txt_2">Full Stack Developer</p>
                <a href="https://www.linkedin.com/in/sachin-jaiswal-11bbb21b1" target="_blank"><img src="/img/home/Black Linkedin.svg" alt=""></a>
            </div>
        </div>
        <div class="aboutus_profile">
            <div class="aboutus_profile_img">
                <img class="ayyan" src="/img/home/ayyan.jpg" alt="">
            </div>
            <div class="aboutus_profile_txt">
                <p class="aboutus_profile_txt_1">Ayyan Momin</p>
                <p class="aboutus_profile_txt_2">CEO</p>
                <a href="https://www.linkedin.com/in/ayyan-momin-a78b8a1a8" target="_blank"><img src="/img/home/Black Linkedin.svg" alt=""></a>
            </div>
        </div>
        <div class="aboutus_profile">
            <div class="aboutus_profile_img">
                <img class="pranav" src="/img/home/pranav.jpg" alt="">
            </div>
            <div class="aboutus_profile_txt">
                <p class="aboutus_profile_txt_1">Pranav Khot</p>
                <p class="aboutus_profile_txt_2">Senior Developer</p>
                <a href="https://www.linkedin.com/in/pranav-khot-5692371a4" target="_blank"><img src="/img/home/Black Linkedin.svg" alt=""></a>
            </div>
        </div>
    </div>
    <div class="aboutus_heading3">
        <h1>Location</h1>
    </div>
    <div style="width: 100%; margin-bottom: 10rem;"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=300&amp;hl=en&amp;q=190%20Bowery,%20New%20York,%20NY%2010012,%20United%20States+(ASAP%20Compare)&amp;t=&amp;z=15&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">vehicle gps tracker</a></iframe></div>
</div>