<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>ASAP</title>
    <link rel="stylesheet" href="/css/lightslider.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      
       
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/Mobile-Home.css">
    <link rel="stylesheet" href="/css/Register.css">
    <link rel="stylesheet" href="/css/single-page.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/allModel.css">
    <link rel="stylesheet" href="/css/history.css">
    <link rel="stylesheet" href="/css/profile.css">
    <link rel="stylesheet" href="/css/search.css">
    <link rel="stylesheet" href="/css/404.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="http://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">  
    <link rel = "stylesheet" href = "http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <meta name="description" content="Compare whatever you want!"/>
</head>
<body>
    <div class="width_page">
        <img src="/img/home/caution.svg" alt="">
        <h1>This website doesn't support mobile devices</h1>
    </div>
    <div class="body">
    <header class="header">
        <nav class="navbar">
            <a href="/" class="nav-logo"><img src="/img/home/logo.svg" alt=""></a>
            <ul class="nav-menu">
                <li>
                    <form id="searchbar"  class="search-form" action="/search" method="get">
                        <input type="text" id="searchName" class="search-input" name="q">
                        <button hidden></button>
                    </form>
                </li>
                <li class="nav-item">
                    <a title="Search here" class="nav-link-1"><img id="searchbar_img" src="/img/home/search.svg" title="Search any product" alt=""></a>
                </li>
                <li class="nav-item">
                    <a href="/mobile/compare" title="Search here" class="nav-link-1"><img src="/img/home/compare.svg" title="Compare mobiles!" alt=""></a>
                </li>
                <% if(user) { %>
                    <li class="nav-item">
                    <a href="/customer/history" title="Stored history" class="nav-link-2"><img src="/img/home/history.svg" title="Check out your history" alt=""></a>
                    </li>
                    <!-- <li class="nav-item"><form id="logout" action="/logout" method="POST">
                        <a class="nav-link-3" onClick="document.getElementById('logout').submit()" href="#"><img src="/img/home/logout.svg" alt=""></a>
                    </form></li> -->
                    <li class="nav-item nav_profile" >
                        <a href="/customer/<%=user._id%>" title="View profile"><img src="<%=user.image%>" alt=""></a>
                    </li>
                    
                    <% } else { %>
                        <li class="nav-item">
                        <a href="/login" title="Login to view" class="nav-link-2"><img src="/img/home/history.svg" alt=""></a>
                        </li>
                        <li class="nav-item">
                            <a href="/login" title="Login here" class="nav-link-3"><img src="/img/home/account.svg" alt=""></a>
                        </li>
                    <% } %>
            </ul>
        </nav>
    </header>

<%- body %>

    <footer>
        <div class="footer-container">
            <div class="footer-1">
                <img class="footer-logo" src="/img/home/logo.svg" alt="">
                <p>Using our website you can compare other phones, cars and bikes side by side in order to measure each specifications against the same feature of the other ones.</p>
            </div>
            <div class="footer-2">
                <p>Useful Links</p>
                <ul>
                    <li>Cars</li>
                    <li>Bikes</li>
                    <li>Mobile Phones</li>
                </ul>
            </div>
            <div class="footer-3">
                <p>Contact Us</p>
                <ul style="display: flex;">
                    <li><i class="fas fa-map-marker-alt"></i></li>
                    <li> Modern Flats, 128, Woodenhouse Rd, Colaba, Mumbai</li>
                </ul>
                <ul style="display: flex;">
                    <li><i class="fas fa-phone"></i></li>
                    <li> +91 70455 80868</li>
                </ul>
                <ul style="display: flex; padding-top: 10px;">
                    <li><i class="fas fa-envelope"></i></li>
                    <li>compareproject69@gmail.com</li>
                </ul>
            </div>
            <div class="footer-4">
                <p>Subscribe</p>
                <div class="subscribe-input">
                    <input type="email" placeholder="Your email">
                    <i class="fas fa-chevron-right"></i>
                </div>
            </div>
        </div>
        <div class="social-icons">
            <div class="facebook">
                <img src="/img/home/FACEBOOK.svg" alt="">
            </div>
            <div class="twitter">
                <img src="/img/home/TWITTER.svg" alt="">
            </div>
            <div class="discord">
                <img src="/img/home/DISCORD.svg" alt="">
            </div>
            <div class="instagram">
                <img src="/img/home/INSTAGRAM.svg" alt="">
            </div>
            <div class="linkedin">
                <img src="/img/home/LINKEDIN.svg" alt="">
            </div>
            <div class="reddit">
                <img src="/img/home/REDDIT.svg" alt="">
            </div>
        </div>
        <hr>

            

        <div class="footer-6">
            <p> &copy; All Rights Reserved 2021-2022</p>
            <div class="footer-6-img">
            <p>Designed by</p> <img src="/img/home/logo.svg" alt="">
        </div>
        </div>
    </footer>

    <a href="javascript:void(0)" class="scrollup">
            <i class="fas fa-chevron-up"></i>
    </a>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.5/typed.min.js"></script>
<script src="/js/app.js"></script>
<script src="/js/lightslider.js" ></script>
<script src="/js/Mobile-Home.js"></script>
<script src="/js/colorChange.js"></script>
<script src="/js/profile.js"></script>
<script src="/js/search.js"></script>
</body>
</html>