<div class="unsub-master">
    <form action="" class="unsub-form" method="POST">
        <h1>We're sorry to see you go 😢</h1>
        <p class="unsub-fail-para">Click the button below to unsubscribe.</p>
        <button class="unsub-button" type="submit">Unsubscribe</button>
    </form>
</div>