@import url('http://fonts.cdnfonts.com/css/spacebit?styles=9456');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap");


                
.form-master {
  width: 100vw;
  background-color: #000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1.8px solid #505050;
  font-family: "Raleway", sans-serif !important;
}

.form-container-register {
  width: 75rem;
  height: 105rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #707070;
  border-radius: 25px;
  padding: 10rem;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  /* background-color: cyan; */
}
.form-heading .sub-heading-1,
.sub-heading-3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.sub-heading-2 {
  margin: 0 2px;
}

.form-heading .sub-heading-2 img {
  width: 90px;
  object-fit: contain;
  padding-top: 5px;
}

.form-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  /* height: 90%; */
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
  font-family: "Raleway", sans-serif !important;
}

.form-register input[type="text"],
.form-register input[type="email"],
.form-register input[type="password"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif !important;
}

.form-register input[type="text"]::placeholder,
.form-register input[type="email"]::placeholder,
.form-register input[type="password"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  /* padding-left: 20px; */
}

.form-register input[type="text"]:focus,
.form-register input[type="email"]:focus,
.form-register input[type="password"]:focus {
  outline: none;
}

.form-register .captcha_master{
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  column-gap: 3rem;
  /* background-color: gold; */
}

.captcha-main-div{
  width: 45%;
  height: 100%;
  display: flex;
  /* border-top: 1px solid #707070; */
  border-radius: 10px;
  background-color: fuchsia;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.captcha-div{
  width: 75%;
  height: 100%;
  display: flex;
  background-color: #000000;
  border: 1px solid #707070;
  border-radius: 10px 0px 0px 10px;
  border-radius:10px;
  -webkit-border-radius: 10px 0px 0px 10px;
  -moz-border-radius: 10px 0px 0px 10px;
  -ms-border-radius: 10px 0px 0px 10px;
  -o-border-radius: 10px 0px 0px 10px;
}

.captcha-text{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/img/home/captcha.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px 0px 0px 10px;
  /* background-color: chartreuse; */
}

.captcha-text p{
  color: #fff;   
  font-size: 24px; 
  font-family: 'Spacebit', sans-serif !important;  
  letter-spacing: 0.5rem;                      
}

.captcha-refresh{
  width: 25%;
  height: 5rem;
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #000000;
  border: 1.8px solid #707070;
  border-radius: 0px 10px 10px 0px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  -webkit-border-radius: 0px 10px 10px 0px;
  -moz-border-radius: 0px 10px 10px 0px;
  -ms-border-radius: 0px 10px 10px 0px;
  -o-border-radius: 0px 10px 10px 0px;
}

.captcha-refresh img{
  width: 23px;
  object-fit: contain;
}


.form-register .captcha_master .captcha-input{
  width: 55%;
  height: 5rem;
  /* background-color: orange; */
}

.form-register .main-button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 4rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Raleway", sans-serif !important;
}

.form-register .link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-register .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}

.form-container-login {
  width: 75rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 10rem;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  /* background-color: cyan; */
}
.form-heading .sub-heading-1,
.sub-heading-3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.sub-heading-2 {
  padding: 0 5px;
}

.form-heading .sub-heading-2 img {
  width: 90px;
  object-fit: contain;
}

.form-login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 60rem;
  /* background-color: gold; */
  margin: 5rem 0;
  row-gap: 3rem;
  font-family: "Raleway", sans-serif !important;
}

.form-login i, .form-register i, .form-password i{
  top: 15px;
  right: 12px;
  cursor: pointer;
  position: absolute;
  color: #0072de;
  background-color: #000;
  font-size: 18px;
}

.eye-toggle {
  width:100%;
  position: relative;
}

.form-login input[type="text"],
.form-login input[type="email"],
.form-login input[type="password"] {
  width: 100%;
  height: 5rem;
  background-color: #000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif !important;
}

.form-login input[type="text"]::placeholder,
.form-login input[type="email"]::placeholder,
.form-login input[type="password"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  /* padding-left: 20px; */
}

.form-login input[type="text"]:focus,
.form-login input[type="email"]:focus,
.form-login input[type="password"]:focus {
  outline: none;
}

.form-login button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Raleway", sans-serif !important;
}

.google-register {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  background-color: #0072de;
  border-radius: 10px;
  margin-top: 0.5rem;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  text-decoration: none;
  text-align: center;
}

.google-register p{
  padding-left: 75px;
}

.google-logo-register {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  margin-left: 25px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.google-logo-register img{
  object-fit: contain;
  width: 25px;
}

.google-register a{
  text-decoration: none;
  color: #fff;
}

.form-login .link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-login .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}

.form-container-email {
  width: 75rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 10rem;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  /* background-color: cyan; */
}
.form-heading .sub-heading-1,
.sub-heading-3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.sub-heading-2 {
  padding: 0 5px;
}

.form-heading .sub-heading-2 img {
  width: 90px;
  object-fit: contain;
}

.form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 50rem;
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
  font-family: "Raleway", sans-serif !important;
}

.form-email input[type="text"],
.form-email input[type="email"],
.form-email input[type="password"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif !important;
}

.form-email input[type="text"]::placeholder,
.form-email input[type="email"]::placeholder,
.form-email input[type="password"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  /* padding-left: 20px; */
}

.form-email input[type="text"]:focus,
.form-email input[type="email"]:focus,
.form-email input[type="password"]:focus {
  outline: none;
}

.form-email button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Raleway", sans-serif !important;
}

.form-email .link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-email .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}

.form-container-password {
  width: 75rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 10rem;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  /* background-color: cyan; */
}
.form-heading .sub-heading-1,
.sub-heading-3 {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.sub-heading-2 {
  padding: 0 5px;
}

.form-heading .sub-heading-2 img {
  width: 90px;
  object-fit: contain;
}

.form-password {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 50rem;
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
  font-family: "Raleway", sans-serif !important;
}

.form-password input[type="text"],
.form-password input[type="email"],
.form-password input[type="password"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif !important;
}

.form-password input[type="text"]::placeholder,
.form-password input[type="email"]::placeholder,
.form-password input[type="password"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  /* padding-left: 20px; */
}

.form-password input[type="text"]:focus,
.form-password input[type="email"]:focus,
.form-password input[type="password"]:focus {
  outline: none;
}

.form-password button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}

.form-password .link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-password .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}


.form-container-color {
  width: 75rem;
  height: 80rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 8rem;
  background-color: #000000;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-bottom: 20px;
  /* background-color: cyan; */
}

.form-heading h1 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Raleway';
  font-weight: 500;
}

.form-color {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 65rem;
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
}

.form-color input[type="text"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}


.color-block-main{
  /* background-color: crimson; */
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}

.color-block{
  width: 31px;
  height: 31px;
  border-radius: 25%;
  position: absolute;
  margin-right: 10px;
  border: 0.1px solid #707070;
  background-color: black;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}


.form-color input[type="file"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 0 0 100px;
  /*padding-left: 20px;*/
  margin-top: 15px;
}

.form-color input[type="text"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  /* padding-left: 20px; */
}

.form-color input[type="text"]:focus,
.form-color input[type="file"]:focus {
  outline: none;
}

.form-color button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 3.5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.form-color .link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-color .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}


.form-container-news {
  width: 75rem;
  height: 90rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 8rem;
  background-color: #000000;
}

.form-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-bottom: 20px;
  /* background-color: cyan; */
}

.form-heading h1 {
  color: #ffffff;
  font-size: 34px;
  font-weight: 500;
  font-family: 'Raleway';
  font-weight: 500;
}

.form-news {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 65rem;
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
}

.form-news input[type="text"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}

.form-news input[type="email"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
}

.form-news textarea {
  background-color: #000000;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding: 10px;
}


textarea::-webkit-input-placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
}


.form-news input[type="file"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 0 0 100px;
  /*padding-left: 20px;*/
  margin-top: 15px;
}

.form-news input[type="text"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  /* padding-left: 20px; */
}

.form-news input[type="text"]:focus,
.form-news input[type="email"]:focus,
.form-news input[type="file"]:focus,
.form-news textarea:focus {
  outline: none;
}

.form-news button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 3.5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.form-news .link {
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-news .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
}





.form-container-email {
  width: 75rem;
  height: 60rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 10rem 0;
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 10rem;
  background-color: #000;
  font-family: "Raleway", sans-serif;
}

.form-heading-email {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-family: "Raleway", sans-serif !important;
  /* background-color: cyan; */
}
.form-heading-email .email-sub-heading-1 h1,
.email-sub-heading-3 h1 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}

.email-sub-heading-2 {
  padding: 0 5px;
}

.form-heading-email .email-sub-heading-2 img {
  width: 100px;
  object-fit: contain;
  padding: 3px 3px 0px 3px;
}

.form-email {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 44rem;
  height: 50rem;
  background-color: #000;
  margin: 5rem 0;
  row-gap: 3rem;
  font-family: "Raleway", sans-serif !important;
}

.form-email input[type="text"],
.form-email input[type="email"],
.form-email input[type="password"] {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 18px;
  padding-left: 20px;
  font-family: "Raleway", sans-serif !important;
}

.form-email input[type="text"]::placeholder,
.form-email input[type="email"]::placeholder,
.form-email input[type="password"]::placeholder {
  color: #505050;
  font-size: 16px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
  /* padding-left: 20px; */
}

.form-email input[type="text"]:focus,
.form-email input[type="email"]:focus,
.form-email input[type="password"]:focus {
  outline: none;
}

.form-email button {
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #0072de;
  border-radius: 10px;
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-family: "Raleway", sans-serif !important;
}

.form-email .link a {
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0.5rem;
}

.form-email .error {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 5rem;
  color: #ffffff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Raleway", sans-serif !important;
}


.unsub-master{
  background-color: #f3f3f4;
  width: 100%;
  height: 92vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.unsub-form{
  height: 70%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 1.5rem;
  background-color: #fff;
}

.unsub-form h1{
  font-size: 35px;
  font-weight: 500;
  padding-top: 17rem;
}

.unsub-form .unsub-fail-para{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 26px;
}

.unsub-form .unsub-title{
  font-size: 30px;
  font-weight: 500;
}

.unsub-form .unsub-para-1{
  font-size: 18px;
  font-weight: 300;
}


.unsub-form .unsub-para-2{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 26px;
}

.unsub-form .unsub-button{
  padding: 1.3rem 1.5rem;
  font-size: 20px;
  font-weight: 300;
  background-color: #1e1e24;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.unsub-form .unsub-button:hover{
  background-color: #e30000;
}




.add-prod-master {
  width: 100vw;
  background-color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10rem 0;
  color: #fff;
  border-bottom: 1.8px solid #505050;
}

.add-prod-container {
  width: 83rem;
  /* height: 70rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* margin: 10rem 0; */
  border: 1.5px solid #505050;
  border-radius: 25px;
  padding: 5rem;
  background-color: #000;
}

.add-prod-heading {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  margin-top: 3rem;
  background-color: #000;
}
.add-prod-heading {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
}

.add-prod-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 55rem;
  /* height: 50rem; */
  background-color: #000;
  margin: 5.5rem 0;
  row-gap: 5rem;
}

.add-prod-dropdown {
  width: 100%;
  height: 6rem;
  font-size: 20px;
  font-weight: 100;
  border-radius: 10px;
  padding: 0rem 2rem;
  border: 1px solid #505050;
  color: #fff;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #000;
  background-image: url("/img/home/down.svg");
  background-repeat: no-repeat;
  background-position-x: 95%;
  background-position-y: 14px;
  padding-right: 2rem;
  background-size: 30px;
  cursor: pointer;
  z-index: 100;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.add-prod-dropdown:required:invalid {
  color: #505050;
}

.add-prod-dropdown:focus {
  outline: none;
}

.add-prod-dropdown::after {
  display: none !important;
}

.add-prod-input {
  width: 100%;
  height: 6rem;
  background-color: #000000;
  border: 1.7px solid #505050;
  border-radius: 10px;
  color: #ffffff;
  font-size: 20px;
  font-weight: 100;
  padding-left: 20px;
}

.add-prod-input::placeholder {
  color: #505050;
  font-size: 20px;
  font-weight: 100;
  /* padding-left: 20px; */
}

.add-prod-input:focus {
  outline: none;
}

.add-prod-file {
  padding: 20px;
}
.add-prod-file {
  /* width: 100%; */
  height: 5rem;
  background-color: #000000;
  border-radius: 60px;
  color: #ffffff;
  cursor: pointer;
  font-size: 16px;
  cursor: pointer;
  padding: 13px 0 0 100px;
  /*padding-left: 20px;*/
  margin-top: 15px;
}

.add-prod-file:focus {
  outline: none;
}

.add-prod-btn{
  width: 100%;
  height: 6rem;
  cursor: pointer;
  background-color: #000000;
  border: 1.8px solid #0072DE;
  border-radius: 10px;
  margin-top: 4rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.add-prod-btn:hover{
  background-color: #0072DE;
}

.add-prod-error{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 6rem;
  background-color: #000000;
  border: 1.8px solid #e30000;
  border-radius: 10px;
  margin-top: 3rem;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  transition: .3s ease-in-out;
  -webkit-transition: .3s ease-in-out;
  -moz-transition: .3s ease-in-out;
  -ms-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
}

.add-prod-error:hover{
  background-color: #e30000;
}


.add-prod-color-block{
  /* background-color: crimson; */
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.add-prod-color-box{
  width: 31px;
  height: 31px;
  border-radius: 25%;
  position: absolute;
  margin-right: 10px;
  border: 0.1px solid #707070;
  background-color: black;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
}

