<div class="form-master">
    <div class="form-container-color">
        <div class="form-heading">
            <h1><%=detail.name%></h1>
        </div>
        <form method="POST" action="/admin/addColors/<%=detail._id%>" class="form-color" enctype="multipart/form-data">
            <input type="text" name="name" placeholder="Color name">
            <div class="color-block-main">
                <input type="text" name="color" placeholder="Color hex code" oninput="onclickhandler(this)">
                <div class="color-block" id="colorCode"></div>
            </div>
            <input type="file" name="image" accept=".png, .jpg, .jpeg">
            <button type="submit">Add color</button>
            <% if(messages.error) { %>
                <div class="error">
                  
                    <p> <%= messages.error %></p>
                                    
                </div>
                
                <% } %>  
        </form>
    </div>
</div>