<div class="border_color">
    <div class="admin_card_master_container">
        <div class="admin_card_main_title">
            <h1>All models</h1>
        </div>
        
        <div class="admin_card_master">
            <div  class="admin_card_main_container">
                <%details.forEach(function(detail) { if(detail.name!=="iPhone 13 Pro Max" && detail.name!=="Samsung Galaxy Z Fold3") {%>
                <div class="admin_card_item">
                    <div class="admin_card_title">
                        <h1><%=detail.name%></h1>
                    </div>
                    
                    <div class="admin_card_img">
                        
                        <img class="admin_card_img_size" src="/img/<%=detail.image%>"  alt="">
                    
                    </div>
                
                    <div class="admin_card_price">
                        <div class="admin_card_button_1">
                                <a href="/admin/delete/<%=detail._id%>" class="admincard_edit_button">Delete</a>
                        </div>
                        <div class="admin_card_button_2">
                                <a href="/admin/addColor/<%=detail._id%>" target="_blank" class="admincard_edit_button">Add color</a> 
                        </div>
                    </div>
                </div>
                <% } })%>

                </div>
            </div>
        </div>
    </div>