<div class="table-master-container">
    <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Message</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <%contacts.forEach(function(contact) { %>
          <tr>
            <td>
                <p><%=contact.name%></p>
            </td>
            <td>
                <p><%=contact.email%></p>
            </td>
            <td style="width: 40%">
                <p><%=contact.query%></p>
            </td>
            <td>
                <p><%=moment(contact.createdAt).format('MMMM Do YYYY, hA')%></p>
            </td>
          </tr>
          <%})%>
        </tbody>
      </table>
</div>